{{layout=home}}


<div class="page-header">
	<h3>API no definida</h3>
</div>

<h3>Ayudanos escribiendo un poco sobre esta API</h3>

<br>

<a href="<%= helper.html.url({controller: 'api', action: 'add', args: [api_url]}) %>" class="btn btn-primary btn-lg">Agregar API</a>